body {
  background-color: white; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-color: #0a9396; }
  .jumbotron h2 {
    color: black;
    font-style: italic; }

h1 {
  color: black;
  font-family: "Acme", sans-serif; }

h2, h3 {
  color: #0a9396;
  font-family: "Acme", sans-serif; }

#logo {
  max-height: 100px; }

.navbar {
  background-color: #0a9396; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px double #0a9396;
  min-height: 200px; }

.carousel-inner {
  width: 72%;
  margin: auto;
  margin-bottom: 50px; }

.carousel-control-prev-icon, .carousel-control-next-icon {
  filter: invert(100%); }

.card {
  min-width: 175px; }

.welcome-card-caption {
  background-color: rgba(0, 0, 0, 0.75); }
  .welcome-card-caption h3 {
    color: white; }
  .welcome-card-caption p {
    color: white; }

.card-header {
  background-color: #0a9396; }
  .card-header h3 {
    color: white; }

.site-footer {
  background-image: linear-gradient(#0a9396, black);
  padding: 20px 0;
  color: white; }
  .site-footer .btn-link {
    color: white; }

a, a:hover {
  color: inherit;
  text-decoration: none; }

.img-thumbnail {
  max-height: 300px;
  width: auto; }

#loginModal .modal-header {
  background-color: #005f73; }
  #loginModal .modal-header .modal-title {
    color: white; }

table thead {
  background-color: #005f73; }

table tbody {
  background-color: #94d2bd; }
